* {
    main-bg:            #403728B3;
    main-fg:            #FFECCCE6;
    main-br:            #6D4C31E6;
    main-ex:            #6C6948E6;
    select-bg:          #F0CEAA80;
    select-fg:          #523E29E6;
}
